## .NET ##
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/.vs/
**/packages/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json
MilkMaster.API/MilkMaster.http

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
**/[Nn]uget.exe
.nuget/
**/packages/*
!**/packages/build/
nuget.props
nuget.targets

# VS Code
.vscode/

# Rider
.idea/

# Docker
.dockerignore
.docker/
**/.env

# App-specific
## .NET ##
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/.vs/
**/packages/
*.user
*.suo
*.userprefs
*.lock.json
*.launchsettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
**/[Nn]uget.exe
.nuget/
**/packages/*
!**/packages/build/
nuget.props
nuget.targets

# VS Code
.vscode/

# Rider
.idea/

# Docker
.dockerignore
docker-compose.*
.docker/
**/.env

# App-specific
**/secrets.json
!appsettings.example.json
**/secrets.json